/* @font-face {
    font-family: "Graphie-";
    src: url("../new-fonts/Graphie-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;

} */
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Extralight.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: "Graphie";
    src: url("../new-fonts/Graphie-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;

}